<ion-header>
  <ion-toolbar>
    <ion-title>Galería</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://placeimg.com/200/200/animals" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          This is content of the card.
        </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://placeimg.com/200/200/animals" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          This is content of the card.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img src="https://placeimg.com/200/200/animals" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          This is content of the card.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://placeimg.com/200/200/animals" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          This is content of the card.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img src="https://placeimg.com/200/200/animals" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          This is content of the card.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img src="https://placeimg.com/200/200/animals" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          This is content of the card.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://placeimg.com/200/200/animals" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          This is content of the card.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img src="https://placeimg.com/200/200/animals" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          This is content of the card.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img src="https://placeimg.com/200/200/animals" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          This is content of the card.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
